body{
    background-color: rgb(205, 231, 255);
    font-family: 'copperplate', 'Helvetica', 'Arial';
}

img{
    border-radius: 8px;
    height:auto;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    color: palevioletred;
}

a{
    color:rgb(216, 140, 218);
}