body{
    background-color: rgb(205, 231, 255);
    color:gray;
    font-family: 'Trebuchet MS', 'Verdana', 'Arial';
}

h1{
    color: palevioletred;
    text-align: center;
}

a{
    color:rgb(216, 140, 218);
}

